@font-face {
  font-family: NeueHaasUnicaPro;
  src: url(assets/fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NeueHaasUnicaPro;
  src: url(assets/fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: NeueHaasUnicaPro;
  src: url(assets/fonts/Neue-Haas-Unica-Pro/NeueHaasUnicaPro-Bold.ttf);
  font-weight: 600;
  font-style: normal;
}

:root {
  --darkgrey: #191c1f;
}

/* Headings and fonts */

h1 {
  font-weight: 400;
  font-size: 120px;
  line-height: 120px;
  margin: 0;
  color: var(--darkgrey);
}

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

/* normalize */

html {
  margin: 0;
  padding: 0;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: NeueHaasUnicaPro;
  font-weight: 400;
  font-size: 16px;

  color: var(--darkgrey);

  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

/* header */

/* logo bar */

.logo__container {
  height: 70px;
  margin-bottom: 80px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}

.logo__text {
  color: var(--darkgrey);
  font-size: 30px;
  letter-spacing: 15px;
  text-transform: uppercase;
}

/* main */

/* header section */

.header__section {
  max-width: 1280px;
  margin: 0 auto 70px;
  padding: 0 20px;
  display: flex;
  flex-flow: column nowrap;
}

.header__container {
  flex: 0 0 50%;
}

.header__subtitle {
  margin: 0;
  padding: 0 10px;
  color: #6d747d;
  font-size: 20px;
}

/* Carousel and Product Teaser */

.header__carousel {
  margin: 20px 0;
  display: block;
}

video {
  width: auto;
  height: 100%;
}

.header__teaser {
  margin: 0 0 80px 0;
  padding: 0 20px;
  flex: 0 0 50%;
}

.header__teaser-text {
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 26px;
}


/* Slogan section */

.slogan__section {
  height: 250vh;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
}

.slogan__container {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slogan__frame {
  background-image: url("assets/imgs/IMG_20230610_130031.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slogan__text-container {
  position: absolute;
}

.slogan__text {
  font-size: 24px;
  position: sticky;
  top: 50vh;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fff;
}

/* Summary */

.summary__section {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 20px;
}

.summary__heading-container {
  text-align: center;
}

.summary__subheading {
  width: 320px;
  margin: 15px auto 0;
}

/* List */

.list__container {
  max-width: 700px;
  margin: 0 auto;
}

.list {
  margin: 50px 0 0 0;
  padding: 0;
  list-style: none;
}

.list__row {
  padding: 1.2em 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.list__row--first {
  padding: 1.2em 0px;
}

.list__rowTitle {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 14px;
}

.list__heading {
  margin-bottom: 1em;
  color: var(--darkgrey);
  opacity: 0.6;
}

.list__text {
  font-size: 14px;
}

.dddContainer {
  display: flex;
}

.list__svg {
  margin-left: 15px;
  width: 25px;
  height: 25px;
  transition: transform 0.4s ease 0s;
  cursor: pointer;
}

.list__svg:hover {
  transform: rotate(60deg);
}

/* Footer */

/* USP */

.footer__container {
  padding: 64px 20px 40px 20px;
  position: relative;
  background-color: var(--darkgrey);
}

.footer__newsletter {
  padding-bottom: 16px;
}

.footer__newsletter-title {
  margin-bottom: 0.5em;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.06;
}

.footer__newsletter-text {
  margin-bottom: 24px;
  max-width: 220px;
  color: #b1b9c5;
  font-size: 14px;
  line-height: 24px;
}

.footer__newsletter-form {
  background-color: #3e4246;
  border: 2px solid transparent;
  border-radius: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.footer__newsletter-form:hover {
  background-color: #4b5055;
}

label {
  cursor: pointer;
  display: table;
}

.footer__newsletter-input {
  padding: 8px 8px 8px 21px;
  height: 50px;
  width: 100%;
  line-height: 24px;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.footer__newsletter-submit {
  padding: 0;
  position: relative;
  right: 6px;
  width: 44.5px;
  height: 40.25px;
  background-color: #191c1f;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  fill: #d9e2ec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__newsletter-arrow {
  color: #fff;
  height: auto;
  width: 20px;
}

.footer__newsletter-checkbox {
  margin-top: 24px;
}

sl-checkbox label {
  font-size: 12px;
  font-family: "NeueHaasUnicaPro";
}

.footer__newsletter-checkbox-field {
  color: #fff;
}

/* Menu List */

.footer__menu-list {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  list-style: none;
}

.footer__menu-item {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid rgba(256, 256, 256, 0.2);
}

/* Arrow */

.footer__arrow-wrapper {
  position: absolute;
  top: 65px;
  right: 28px;
}

.footer__arrow-link {
  width: 40px;
  height: 40px;
  color: #d9e2ec;
  background-color: #3e4246;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  fill: #d9e2ec;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__arrow-link:hover {
  background-color: #4b5055;
  color: var(--darkgrey);
}

.footer__arrow {
  width: 20px;
}

/* Bottom */

.footer__bottom {
  padding: 0;
  color: #b1b9c5;
  font-size: 14px;
}

.footer__country {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 20px;
  }

  .slogan__text {
    font-size: 48px;
  }

  /* Summary */

  .summary__heading {
    font-size: 60px;
    line-height: 70px;
  }

  /* Footer */

  /* USP */

  .footer__layout {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .footer__newsletter-text {
    margin-bottom: 24px; 
  }

  .footer__bottom {
    margin-right: 70px;
    align-self: end;
    padding: 0 0 16px; 
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 200px;
    line-height: 1;
  }

  /* Header */

  .header__section {
    padding: 0 70px;
    display: flex;
    flex-flow: row wrap;
  }

  .header__container {
    order: 1;
  }

  .header__subtitle {
    margin: 0 10px;
  }

  .header__teaser {
    margin: 0 0 20px 0;
    order: 2;
  }

  .header__carousel {
    order: 3;
  }

  /* Summary */

  .summary__section {
    padding: 0px 70px 100px;
  }

  /* Footer */

  .footer__container {
    padding: 64px 70px 40px;
  }

  .footer__layout {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .footer__bottom {
    margin: 0; 
  }

  /* Newsletter */

  .footer__newsletter {
    width: 30%;
  }

  .footer__newsletter-title {
    font-size: 32px;
    line-height: 1.2;
  }

  /* Menu List */

  .footer__menu-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 40px;
    flex: 1 1 20vw;
  }

  .footer__menu-item {
    padding: 0 0 24px 0;
    border-bottom: none;
  }

  .footer__policies {
    display: flex;
    gap: 30px;
  }
}

@media only screen and (min-width: 1024px) {

  .footer__usp-layout {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
  }

  .footer__wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
}